.dashboard-container {
  height: 100vh;
}

.dashboard-add button {
  margin: 0.3rem;
  padding: 0.55rem;
  border-radius: 5px;
  border: 2px solid var(--accent);
  background-color: var(--dark);
  color: var(--white);
  font-size: 1rem;
  font-weight: bold;
}

.dashboard-add button:hover {
  background-color: var(--accent);
  transform: scale(0.95);
  color: var(--dark);
}

.dashboard-project-display {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
