:root {
  --white: #ffffff;
  --dark: #222b42;
  --accent: #ff5760;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

body {
  margin: 0em 8rem;
  background-color: var(--dark);
}

h1 {
  color: var(--accent);
  font-size: 3.5rem;
}

h3 {
  color: var(--white);
  // text-shadow: var(--accent) 1px 1px;
}

p {
  color: var(--white);
  font-size: 0.75rem;
}
