.nav-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-user {
  font-size: 1.5rem;
}

.nav-signout button {
  margin: 0.5rem;
  padding: 0.75rem;
  border-radius: 5px;
  border: 3px solid var(--accent);
  background-color: var(--dark);
  color: var(--white);
  font-size: 1rem;
  font-weight: bold;
}

.nav-signout button:hover {
  background-color: var(--accent);
  transform: scale(0.95);
  color: var(--dark);
}

.nav-signout span {
  margin-left: 10px;
  font-size: 1.2rem;
}
