.project-display-container {
  display: flex;
  padding: 10px 20px;
  width: 70%;
  flex-direction: column;
}

.project-display-container h1 {
  font-size: 2.25rem !important;
}

.project-single-container {
  display: flex;
  flex-direction: column;
  border-bottom: 1.5px solid var(--white);
  margin: 2rem 0rem;
  padding: 10px 20px;
}

.project-single-container:hover {
  border-bottom: 1.5px solid var(--accent);
}

.project-header {
  width: 100%;
}

.project-issues-container {
  display: flex;
}

.project-single-issue {
  width: 100%;

  display: flex;
  justify-content: space-between;
}
