.project-display-container {
  display: flex;
  padding: 0px 10px;
  width: 65%;
  flex-direction: column;
}

.project-display-container h1 {
  font-size: 2.25rem !important;
  text-shadow: 0px 0px var(--dark) !important;
  font-style: normal !important;
}

.project-name span {
  font-size: 2.25rem !important;
  color: var(--white) !important;
}

.project-single-container {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--white);
  padding: 10px 0px;
}

.project-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.arrow {
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  width: 3px;
  height: 3px;
  display: inline-block;
  padding: 3px;
  margin-right: 1.5rem;
}

.down {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

.arrow:hover {
  transform: rotate(45deg);
}

.project-issues-container {
  display: flex;
  flex-direction: column;
  margin: 0rem 1rem;
}

.project-single-issue {
  width: 100%;
  border-bottom: 1.5px solid var(--white);
  margin-bottom: 1rem;
  margin-top: -1.5rem;
}

.project-single-issue:hover {
  border-bottom: 1.5px solid var(--accent);
}

.single-issue-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.issue-preview-title {
  display: flex;
  flex-direction: row;
  border-bottom: 1.5px solid var(--accent);
  width: 75%;
  justify-content: space-between;
}

.issue-preview-title i {
  margin-left: 2rem;
  margin-top: 1rem;
}

.preview-title {
  color: var(--white) !important;
  font-size: 1.5rem !important;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.issue-title {
  color: var(--white);
  font-size: 1.75rem;
  border-bottom: 1px solid var(--accent);
}

.project-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.issue-description {
  margin: 0rem 1rem;
  margin-top: -1rem;
}

.issue-description span {
  border-bottom: 1px solid var(--accent);
}

.issue-description p {
  margin: 0rem 1rem;
}

.description-title h3 {
  color: var(--white) !important;
}
