.project-display-container {
  display: flex;
  padding: 10px 20px;
  width: 70%;
  flex-direction: column;
}

.project-single-container {
  display: flex;
  border-bottom: 1.5px solid var(--white);
  margin: 2rem 0rem;
  padding: 10px 20px;
}

.project-single-container:hover {
  border-bottom: 1.5px solid var(--accent);
}

.project-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
